* {
  font-family: Helvetica, Arial, sans-serif;
}

/* 
:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-size: cover;
  image-rendering: pixelated;
  
  display: flex;
  justify-content: center;
}
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
 */

.widget p{
  padding: 3px;
  color: black;
  font-size: 30px;
  
}

.info{
  margin-left: 30px;
  font-weight: bold;
  background-image: url();
}
body {
  padding: 0px;
  margin: 0px;
}

.pin {
  width: 10px;
  height: 10px;
}