@font-face {
  font-family: Pixelfont;
  src: url(./font/PIXEL-FONT.ttf);
}

* {
  font-family: Pixelfont, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0px;
  margin: 0px;
}

.widget {
  margin-left: 170px;
  padding: 100px;

}

.widget p {
  padding: 3px;
  color: white;
  font-size: 30px;

}

.info {
  margin-left: 30px;
  font-weight: bold;
}

.wrapper {
  background-color: rgba(104, 104, 104, 0.548);
  margin: 0px 60% 0px 0px;
  border-radius: 0px 10px 10px 0px;
  backdrop-filter: blur(2px);
  transform: translateX(-100%);
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.locationComponent {
  text-align: center;
  padding: 15px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}



.btn {
  padding: 10px;
  background-color: pink;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.weatherApp {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
}
/* notebook */
@media (max-width:1450px) {
  .weatherApp {
    height: auto;
    width: auto;
  }
  .wrapper{
    margin: 0px 60% 0px 0px;
  }
  .info {
    margin-left: 20px;
    font-weight: bold;
  }
  .widget {
    margin-left: 50px;  
  }
  
 
}
/* celu */
@media (max-width:425px) {
  .weatherApp{
  background-attachment: auto;
  background-position: auto;
  }

  .wrapper{
    background-color: rgba(104, 104, 104, 0);
    backdrop-filter: blur(0px);

  }

  .info {
    font-size: 25px;
    margin-left: auto;
    font-weight: bold;
  }
  
  .widget{
    margin-left: 0px;
  }
}